.wd-assignments,
.wd-assignments * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-assignments {
  margin: 5px;
}

.wd-assignments > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-assignments > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-assignments > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-assignments > li {
  margin-bottom: 20px;
}

